[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[pipenv]
allow_prereleases = true

[dev-packages]
pytest = "*"
black = "*"
mypy = "*"

[packages]
pillow = "*"
pyyaml = "*"

[requires]
python_version = "3.9"

[script]
black = "black ."
mypy = "mypy --config-file ./mypy.ini"
pytest = "PATHONPATH='.' pytest -v tests/"
